<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>우주론</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css" />
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" th:href="@{/}">
            <img th:src="@{/img/planet.png}" alt="로고 이미지" height="30" class="">
            <span>우주론</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/loan-find}">대출 찾아보기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/apt-find}">내 아파트 찾기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/market-analysis}">시장 진단</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/my-loans}">신용 및 대출 현황</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/mypage}" sec:authorize="isAuthenticated()">회원정보 수정</a>
                </li>
                <!-- 로그인 상태에 따라 버튼 표시 -->
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="btn btn-primary btn-custom" th:href="@{/login}">로그인</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-custom">로그아웃</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<th:block th:fragment="scripts">
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- 공통 사용자 정의 JS -->
    <script th:src="@{/js/common.js}"></script>
</th:block>
</body>
</html>
