<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="interestPropertyPopup" id="interestPropertyPopup" class="popup">
  <div class="popup-content">
    <span class="close-btn" onclick="closeInterestPopup()">&times;</span>
    <h5>관심있는 아파트의 지역을 선택해주세요.</h5>
    <div class="mb-3">
      <label for="city" class="form-label">시/도</label>
      <select class="form-select" id="city">
        <option>서울</option>
        <option>부산</option>
        <option>대구</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="district" class="form-label">시/군/구</label>
      <select class="form-select" id="district">
        <option>강동구</option>
        <option>강남구</option>
        <option>서초구</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="neighborhood" class="form-label">읍/면/동</label>
      <select class="form-select" id="neighborhood">
        <option>둔촌동</option>
        <option>천호동</option>
        <option>명일동</option>
      </select>
    </div>
    <button class="btn btn-primary" onclick="submitInterestProperty()">추가</button>
  </div>
</div>
</body>
</html>