/* body */
body {
    padding-top: 56px;
    font-family: "Pretendard Variable", Pretendard,
    -apple-system, BlinkMacSystemFont,
    system-ui, Roboto,
    "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* header */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    color: #333;
}

.nav-link:hover {
    color: #007bff;
}

/* 본문 */
.content-wrapper {
    flex: 1 0 auto;
    margin-bottom: 100px !important;
    padding-top: 50px;
    padding-left: min(10%);
    padding-right: min(10%);
}

/* footer */
.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9em;
    flex-shrink: 0;
}