<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 아파트 찾기 - 결과</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css" />
  <!-- 사용자 정의 CSS -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" th:href="@{/css/popup.css}">
<!--  아이콘  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <style>
        body {
            background-color: #f8f9fa;
        }
        .box {
            background: white;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 45px;
            margin-bottom: 20px;
        }
        .apt-card .box:hover {
            transform: translateY(-10px);
            box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
            border-color: #007bff;
            transition: all 0.3s ease-in-out;
        }
        .line {
            background-color: gray;
            width: 100%;
            height: 1px;
            display: flex;
            justify-self: center;
            margin: 20px;
        }
        .custom-btn {
            border-color: transparent;
            transition: all 0.3s ease;
        }
        .custom-btn:hover {
            background-color: rgba(108, 117, 125, 0.1);
            border-color: transparent;
            color: black;
        }

        .custom-btn:focus {
            box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25);
        }
        .icon {
            width: 50px;
            height: 50px;
            background-color: #e9ecef;
            border-radius: 50%;
        }


    </style>
</head>
<body>

<!--헤더-->
<header th:replace="fragments/header :: nav"></header>

<!--본문-->
<div class="content-wrapper">
    <div class="container">
<!--        <div th:text="'주소 정보: ' + ${cityCode} + ' ' + ${cityText} + ' ' + ${districtCode} + ' ' + ${districtText}"></div>-->
<!--        <div>입출금 계좌 총합: <span id="totalBalance" class="text-primary fw-bold">0원</span></div>-->
<!--        <div>연소득 : 일단은 아래 사용자 input값으로 계산</div>-->

        <div class="row">
            <div class="col-6 d-flex flex-column">
                <div class="box flex-fill d-flex flex-column justify-content-center align-items-center p-3">
                    <div class="d-flex flex-column w-100 p-5">
                        <div id="conditionsText" class="text-muted mb-4">
                            <p class="mb-3">
                                현재 내 자산을 기준으로 대출을 받으면,
                            </p>
                            <p>
                                <span th:text="${cityText} + ' ' + ${districtText}" class="fs-4 fw-bold text-primary mb-2"></span> 에서
                            </p>
                            <p id="outputText" class="mb-3"></p>
                            <p class="mb-3">
                                매달 원리금분할상환 방식으로<br>
                                부담하는 아파트를 추천해드릴게요.
                            </p>
                            <p class="small mb-4">* 대출 금리 연 4% 기준</p>
                            <hr class="my-4">
                        </div>
                        <div id="conditionsDistrict" class="mb-3">
                            <button class="btn btn-outline-secondary text-start custom-btn w-100" onclick="openIncomePopup()">
                                <i class="fas fa-search text-primary me-3"></i>다른 지역에서 찾아보기
                            </button>
                        </div>
                        <div id="conditionsOthers" class="">
                            <div class="d-flex align-items-center position-relative">
                                <button id="toggleConditions" class="btn btn-outline-secondary text-start custom-btn w-100">
                                    <i class="fas fa-search text-primary me-3"></i>다른 조건으로 찾아보기
                                </button>
                                <button id="closeConditions" type="button" class="btn-close position-absolute top-50 end-0 translate-middle-y me-3" aria-label="Close" style="display: none;"></button>
                            </div>
                            <div id="conditionsForm" style="display: none;">
                                <div class="mb-3">
                                    <label for="incomeInput" class="form-label">연소득 (원)</label>
                                    <input type="number" id="incomeInput" class="form-control" placeholder="50,000,000" min="0" step="1000000">
                                </div>
                                <div class="mb-3">
                                    <label for="percentageInput" class="form-label">소득 대비 대출상환금 비율 (%)</label>
                                    <input type="number" id="percentageInput" class="form-control" placeholder="25" min="0" max="100" step="1">
                                </div>
                                <div class="mb-4">
                                    <label for="yearsInput" class="form-label">대출기간 (년)</label>
                                    <input type="number" id="yearsInput" class="form-control" placeholder="20" min="1" max="30" step="1">
                                </div>
                                <button id="updateRecommendations" class="btn btn-primary w-100 rounded-pill shadow-sm mt-3">추천 아파트 업데이트</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex flex-column">
                <div class="box flex-fill">
                    <div class="row mb-3">
                        <div class="col-md-5">
                            <h5 class="text-primary fw-bold">PIR 지수</h5>
                            <div class="text-muted">소득대비 주택가격 비율</div>
                            <div class="small text-muted mt-0 mb-3">PIR = 주택가격 / 연소득</div>
                            <ul class="list-unstyled">
                                <li><i class="fas fa-home text-secondary me-2"></i>서울: 11.2</li>
                                <li><i class="fas fa-home text-secondary me-2"></i>경기: 9.0</li>
                                <li><i class="fas fa-home text-secondary me-2"></i>인천: 8.1</li>
                            </ul>
                        </div>
                        <div class="col-md-7">
                            <h5 class="text-primary fw-bold">K-HAI 지수</h5>
                            <div class="text-muted">주택구입부담지수</div>
                            <div class="small text-muted mt-0 mb-3">K-HAI = (대출상환가능소득 / 중간가구소득) * 100</div>
                            <p><i class="fas fa-chart-line text-secondary me-2"></i>적정부담액: 소득의 25.7% 이하</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <ul class="list-unstyled">
                            <li><i class="fas fa-check-circle text-info me-2"></i>PIR이 높을수록 주택 구매 부담이 큼</li>
                            <li><i class="fas fa-check-circle text-info me-2"></i>K-HAI가 100 초과 시 소득으로 대출 상환이 어려움</li>
                            <li><i class="fas fa-check-circle text-info me-2"></i>두 지수 모두 주택 시장의 건전성을 평가하는 중요 지표</li>
                        </ul>
                    </div>

                    <canvas id="comparisonChart" width="100%" height="30px"></canvas>
                </div>
            </div>
        </div>

    <!--  추천 아파트 무한 스크롤 생성  -->
        <!--  정렬 기준 버튼  -->
        <div class="box d-flex justify-content-between align-items-center bg-primary mb-3 p-3">
            <div class="fs-4 fw-bold text-white">
                <i class="fa-solid fa-user-astronaut mx-3"></i>
                우주론에서 추천해드리는 아파트 목록이에요!
            </div>
            <div class="btn-group bg-light p-2 g-2 rounded-pill shadow" role="group" aria-label="Sort options">
            <input type="radio" class="btn-check" name="sortOptions" id="sortHighPrice" autocomplete="off" checked>
            <label class="btn btn-light btn-sm rounded-pill px-3 py-2 fw-bold" for="sortHighPrice">높은 실거래가 순</label>

            <input type="radio" class="btn-check" name="sortOptions" id="sortLowPrice" autocomplete="off">
            <label class="btn btn-light btn-sm rounded-pill px-3 py-2 fw-bold" for="sortLowPrice">낮은 실거래가 순</label>

            <input type="radio" class="btn-check" name="sortOptions" id="sortRecent" autocomplete="off">
            <label class="btn btn-light btn-sm rounded-pill px-3 py-2 fw-bold" for="sortRecent">최근 거래일 순</label>
        </div>
        </div>
        <!--무한 스크롤-->
        <div id="apartmentContainer" class="row g-2"></div>
        <div id="loadingIndicator" class="text-center my-3 d-none">로딩 중...</div>
    </div>
</div>

<!--팝업창-->
<div th:replace="real_income_popup :: realIncomePopup"></div>

<!--header-->
<th:block th:replace="fragments/header :: scripts"></th:block>

<!--footer-->
<footer th:replace="fragments/footer :: footer"></footer>

<!--Javascript-->
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- 사용자 정의 JS -->
<script th:src="@{/js/home.js}"></script>
<script th:src="@{/js/real_income_api.js}"></script>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {

        const toggleButton = document.getElementById('toggleConditions');
        const closeButton = document.getElementById('closeConditions');
        const conditionsText = document.getElementById('conditionsText');
        const conditionsDistrict = document.getElementById('conditionsDistrict');
        const conditionsForm = document.getElementById('conditionsForm');

        function toggleConditions() {
            if (conditionsForm.style.display === 'none') {
                conditionsText.style.display = 'none';
                conditionsDistrict.style.display = 'none'
                conditionsForm.style.display = 'block';
                toggleButton.style.display = 'none';
                closeButton.style.display = 'block';
            } else {
                conditionsText.style.display = 'block';
                conditionsDistrict.style.display = 'block'
                conditionsForm.style.display = 'none';
                toggleButton.style.display = 'block';
                closeButton.style.display = 'none';
            }
        }

        toggleButton.addEventListener('click', toggleConditions);
        closeButton.addEventListener('click', toggleConditions);

        // 초기값 설정
        let annualIncome = /*[[${annualIncome}]]*/ []; // 연소득은 DB에서 가져오는 것으로 수정해야함
        let loanTermYears = 20;
        let incomePercentage = 25;

        // 타임리프에서 데이터 받기
        const userId = /*[[${session.user_id}]]*/ '';
        const items = /*[[${items}]]*/ [];
        const cityCode = /*[[${cityCode}]]*/ '';
        const cityText = /*[[${cityText}]]*/ '';
        const districtCode = /*[[${districtCode}]]*/ '';
        const districtText = /*[[${districtText}]]*/ '';

        console.log(items)
        console.log(cityCode)

        // totalBalance 가져오기
        if (userId) {
            fetch('/mydata-api/account', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({ 'user_id': userId })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('계좌 데이터를 불러오는데 실패했습니다.');
                    }
                    return response.json();
                })
                .then(data => {
                    const totalBalance = data.currentTotal || 0;

                    // document.getElementById('totalBalance').textContent = `${numberToKorean(totalBalance)}`;

                    updateRecommendations(totalBalance, annualIncome, loanTermYears, incomePercentage);
                })
                .catch(error => {
                    console.error('Error fetching account data:', error);
                    document.getElementById('totalBalance').textContent = '데이터를 불러오는데 실패했습니다.';
                });
        } else {
            console.error('User ID가 제공되지 않았습니다.');
            document.getElementById('totalBalance').textContent = '사용자 정보를 확인해주세요.';
        }

        // 사용자 input으로 추천 조건 변경
        const incomeInput = document.getElementById('incomeInput');
        const yearsInput = document.getElementById('yearsInput');
        const percentageInput = document.getElementById('percentageInput');
        const outputText = document.getElementById('outputText');
        const updateButton = document.getElementById('updateRecommendations');

        // 텍스트 출력 함수
        function updateOutputText() {
            outputText.innerHTML = `내 소득 <span class="fs-4 fw-bold text-primary">${numberToKorean(annualIncome)}</span>의 <span class="fs-4 fw-bold text-primary">${incomePercentage}%</span> 이하를 <span class="fs-4 fw-bold text-primary">${loanTermYears}년</span> 동안<br>`;
        }

        // 초기 출력 텍스트 설정
        updateOutputText();

        // 숫자 형식 바꾸기
        function formatNumber(number) {
            return new Intl.NumberFormat('ko-KR').format(number);
        }

        // 가격 문자열을 한글 금액 표현으로 변환
        function numberToKorean(number) {
            if (!number || isNaN(number)) return '0원';

            const units = ['', '만', '억', '조', '경'];
            let result = '';
            let unitIndex = 0;

            while (number > 0) {
                const part = number % 10000;
                if (part > 0) {
                    result = `${formatNumber(part)}${units[unitIndex]} ` + result;
                }
                number = Math.floor(number / 10000);
                unitIndex++;
            }

            return result.trim() + '원';
        }

        // 업데이트 버튼 클릭 이벤트
        updateButton.addEventListener('click', function () {
            annualIncome = parseInt(incomeInput.value) || 50000000;
            loanTermYears = parseInt(yearsInput.value) || 20;
            incomePercentage = parseInt(percentageInput.value) || 25;

            // 조건 폼을 닫는 동작
            if (closeButton.style.display === 'block') {
                toggleConditions(); // closeButton 클릭과 동일한 동작
            }

            updateOutputText();
            updateRecommendations();
        });

        // 추천 업데이트 함수
        function updateRecommendations() {
            fetch('/mydata-api/account', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({ user_id: userId })
            })
                .then(response => response.json())
                .then(data => {
                    const totalBalance = data.currentTotal || 0;
                    maxRecommendedPrice = calculateMaxRecommendedPrice(totalBalance, annualIncome, loanTermYears, incomePercentage);

                    // 필터링된 아파트 목록 업데이트
                    displayedApartments = filterApartmentsByPrice(items, maxRecommendedPrice);

                    // 아파트 목록 정렬 후 다시 렌더링
                    sortApartments('highPrice');  // 기본 정렬: 높은 가격순
                    updateDisplayedApartments();

                    // 차트 업데이트
                    createComparisonChart(totalBalance, annualIncome, loanTermYears, incomePercentage);
                })
                .catch(error => {
                    console.error('Error fetching account data:', error);
                });
        }

        // PIR vs K-HAI max값 return
        function calculateMaxRecommendedPrice(totalBalance, annualIncome, loanTermYears, incomePercentage) {
            const pirPrice = calculatePIR(totalBalance, annualIncome, cityCode);
            const khaiPrice = calculateKHAI(totalBalance, annualIncome, loanTermYears, incomePercentage);

            return Math.max(pirPrice, khaiPrice);
        }

        // PIR 기준 추천 아파트 가격 계산 함수
        function calculatePIR(totalBalance, annualIncome, cityCode) {
            let pirMultiplier;

            // cityCode에 따른 PIR 가중치 설정
            switch (cityCode) {
                case '11':  // 서울
                    pirMultiplier = 11.2;
                    break;
                case '41':  // 경기도
                    pirMultiplier = 9;
                    break;
                case '28':  // 인천
                    pirMultiplier = 8.1;
                    break;
            }

            console.log(cityCode)

            // PIR 계산
            const pirResult = annualIncome * pirMultiplier;
            return pirResult + totalBalance;
        }

        // K-HAI 기준 추천 아파트 가격 계산 함수
        function calculateKHAI(totalBalance, annualIncome, loanTermYears, incomePercentage) {
            const monthlyIncome = annualIncome / 12;
            const interestRate = 0.04; // 연 이자율 4%
            const loanTermMonths = loanTermYears * 12;

            // 월 상환 가능 금액: 소득의 incomePercentage%
            const monthlyRepayment = monthlyIncome * (incomePercentage / 100);

            // 월 이자율
            const monthlyInterestRate = interestRate / 12;

            // 대출 가능 금액(PV) 계산
            const loanAmount = monthlyRepayment * ((Math.pow(1 + monthlyInterestRate, loanTermMonths) - 1) /
                (monthlyInterestRate * Math.pow(1 + monthlyInterestRate, loanTermMonths)));

            return Math.round((loanAmount + totalBalance) / 10000) * 10000;
        }

        // 추천 아파트 가격 비교 차트 생성
        function createComparisonChart(totalBalance, annualIncome, loanTermYears, incomePercentage) {
            const pirPrice = calculatePIR(totalBalance, annualIncome, cityCode);
            const khaiPrice = calculateKHAI(totalBalance, annualIncome, loanTermYears, incomePercentage);

            const script = document.createElement('script');
            script.src = 'https://cdn.jsdelivr.net/npm/chart.js';
            document.head.appendChild(script);

            script.onload = function () {
                const ctx = document.getElementById('comparisonChart').getContext('2d');

                // 기존 차트 제거
                if (window.myChart instanceof Chart) {
                    window.myChart.destroy();
                }

                window.myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['PIR 기준 가격', 'K-HAI 기준 가격'],
                        datasets: [
                            {
                                label: '가격 비교 (원)',
                                data: [pirPrice, khaiPrice],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.7)', // PIR Price
                                    'rgba(75, 192, 192, 0.7)', // K-HAI Price
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(75, 192, 192, 1)',
                                ],
                                borderWidth: 1,
                            },
                        ],
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                display: false,
                            },
                            tooltip: {
                                callbacks: {
                                    label: function (context) {
                                        return numberToKorean(context.raw);
                                    },
                                },
                            },
                        },
                        scales: {
                            y: {
                                beginAtZero: true,
                                ticks: {
                                    callback: function (value) {
                                        return numberToKorean(value);
                                    },
                                },
                            },
                        },
                    },
                });
            };
        }

        // 추천 아파트 리스트 무한 스크롤 동적 생성
        let displayedApartments = [];
        let currentIndex = 0;
        const itemsPerLoad = 12;
        let isLoading = false;

        const container = document.getElementById('apartmentContainer');
        const loadingIndicator = document.getElementById('loadingIndicator');

        let maxRecommendedPrice = 0;

        // Function to filter apartments
        function filterApartmentsByPrice(apartments, maxRecommendedPrice) {
            return apartments.filter(apartment => {
                const dealAmount = parseInt(apartment.dealAmount.replace(/,/g, '').replace(/[^0-9]/g, ''), 10) * 10000;
                return dealAmount <= maxRecommendedPrice;
            });
        }

        // Function to create a card
        function createApartmentCard(apartment) {
            const cardDiv = document.createElement('div');
            cardDiv.className = 'col-md-4 d-flex align-items-stretch apt-card'; // 부트스트랩의 그리드 시스템

            // apt-report로 정보 넘기는 클릭 이벤트
            cardDiv.addEventListener('click', () => handleCardClick(apartment));

            // Inner box container for styling
            const boxDiv = document.createElement('div');
            boxDiv.className = 'box mb-0 d-flex align-items-center flex-fill p-4 ';

            // Content section: Main container
            const contentContainer = document.createElement('div');
            contentContainer.className = 'w-100';

            // Apartment Name
            const aptName = document.createElement('h5');
            aptName.textContent = apartment.aptNm;
            aptName.className = 'text-dark fw-bold mb-2';
            contentContainer.appendChild(aptName);

            // Price and Recent Deal Date
            const priceDiv = document.createElement('div');
            priceDiv.className = 'mb-2';

            const price = document.createElement('span');
            price.className = 'price text-primary fw-bold me-2'; // 여백 추가
            price.textContent = `${numberToKorean(parseInt(apartment.dealAmount.replace(/,/g, '')) * 10000)}`;
            priceDiv.appendChild(price);

            const recentDeal = document.createElement('span');
            recentDeal.className = 'text-muted';
            recentDeal.textContent = `(${apartment.dealYear}년 ${apartment.dealMonth}월 ${apartment.dealDay}일)`;
            priceDiv.appendChild(recentDeal);

            contentContainer.appendChild(priceDiv);

            // Location Details
            const locationDiv = document.createElement('div');
            locationDiv.className = 'text-muted mb-2';

            const citySpan = document.createElement('span');
            citySpan.textContent = cityText; // Ensure `cityText` is defined in the scope
            locationDiv.appendChild(citySpan);

            locationDiv.appendChild(document.createTextNode(' '));

            const districtSpan = document.createElement('span');
            districtSpan.textContent = districtText; // Ensure `districtText` is defined in the scope
            locationDiv.appendChild(districtSpan);

            locationDiv.appendChild(document.createTextNode(' '));

            const umdName = document.createElement('span');
            umdName.textContent = apartment.umdNm;
            locationDiv.appendChild(umdName);

            contentContainer.appendChild(locationDiv);

            // Details
            const details = document.createElement('p');
            details.className = 'text-secondary mb-1';
            details.textContent = `${apartment.aptDong}동 · 전용면적 ${apartment.excluUseAr}m² · ${apartment.floor}층`;
            contentContainer.appendChild(details);

            // Build Year
            const buildYear = document.createElement('p');
            buildYear.className = 'text-secondary mb-0';
            buildYear.textContent = `건축년도 ${apartment.buildYear}년`;
            contentContainer.appendChild(buildYear);

            boxDiv.appendChild(contentContainer);
            cardDiv.appendChild(boxDiv);

            return cardDiv;
        }

        // 추천 아파트 카드 클릭 시 데이터 전송
        async function handleCardClick(apartment) {
            const bjdCode = apartment.sggCd + apartment.umdCd; // 법정동 코드 생성
            let API_KEY = '';

            // API 키 가져오기
            try {
                const response = await fetch('/api/key');
                if (!response.ok) {
                    throw new Error('API 키를 가져오는데 실패했습니다.');
                }
                API_KEY = await response.text();
                console.log('API 키:', API_KEY);
            } catch (error) {
                console.error('API 키를 가져오는 중 오류 발생:', error);
                alert('API 키를 가져오는 데 실패했습니다.');
                return;
            }

            // kaptCode 호출 API URL 생성
            const url = `http://apis.data.go.kr/1613000/AptListService2/getLegaldongAptList?serviceKey=${API_KEY}&pageNo=1&numOfRows=100&bjdCode=${bjdCode}`;

            try {
                const response = await fetch(url);
                if (!response.ok) {
                    throw new Error('API 호출 실패');
                }

                const xmlResponse = await response.text();
                const data = new window.DOMParser().parseFromString(xmlResponse, 'text/xml');
                const items = data.getElementsByTagName('item');
                console.log('API 응답 데이터:', items);

                let kaptCode = null;

                for (let item of items) {
                    const kaptName = item.getElementsByTagName('kaptName')[0].textContent.trim().toLowerCase();
                    if (kaptName === apartment.aptNm.trim().toLowerCase()) {
                        kaptCode = item.getElementsByTagName('kaptCode')[0].textContent;
                        break;
                    }
                }

                if (!kaptCode) {
                    console.error('kaptCode not found for apartment:', apartment.aptNm);
                    alert(`'${apartment.aptNm}' 정보를 찾을 수 없습니다. 다시 시도해주세요.`);
                    return;
                }

                // 필요한 작업 수행 후 데이터 POST
                const fields = {
                    city: cityText,
                    district: districtText,
                    neighborhood: apartment.umdNm,
                    apartment: apartment.aptNm,
                    lawdCode: bjdCode,
                    kaptCode: kaptCode,
                };
                console.log('Fields being sent:', fields);

                const form = document.createElement('form');
                form.method = 'POST';
                form.action = '/list-to-report';

                Object.keys(fields).forEach(key => {
                    const input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = key;
                    input.value = fields[key];
                    form.appendChild(input);
                });

                document.body.appendChild(form);
                form.submit();
            } catch (error) {
                console.error('API 호출 중 오류 발생:', error);
                alert('아파트 데이터를 가져오는 데 실패했습니다.');
            }
        }

        // 아파트 정렬 함수
        function sortApartments(criteria) {
            const sortFunctions = {
                'lowPrice': (a, b) => parseInt(a.dealAmount.replace(/,/g, ''), 10) - parseInt(b.dealAmount.replace(/,/g, ''), 10),
                'highPrice': (a, b) => parseInt(b.dealAmount.replace(/,/g, ''), 10) - parseInt(a.dealAmount.replace(/,/g, ''), 10),
                'recentDeal': (a, b) => new Date(b.dealYear, b.dealMonth - 1, b.dealDay) - new Date(a.dealYear, a.dealMonth - 1, a.dealDay)
            };
            displayedApartments.sort(sortFunctions[criteria]);
        }

        // 아파트 목록 업데이트 및 렌더링 함수 (중복 코드 통합)
        function updateDisplayedApartments() {
            container.innerHTML = ''; // 기존 아파트 목록 초기화
            currentIndex = 0; // 인덱스 초기화
            renderMoreApartments(); // 새로운 아파트 목록 렌더링

            // 무한 스크롤 이벤트 리스너 재설정
            window.removeEventListener('scroll', handleScroll);
            window.addEventListener('scroll', handleScroll);
        }

        // 무한 스크롤 처리 함수
        function handleScroll() {
            const { scrollTop, scrollHeight, clientHeight } = document.documentElement;
            if (scrollTop + clientHeight >= scrollHeight - 100 && !isLoading && currentIndex < displayedApartments.length) {
                renderMoreApartments();
            }
        }

        // 아파트 목록 추가 렌더링 함수
        function renderMoreApartments() {
            if (isLoading) return;
            isLoading = true;
            loadingIndicator.classList.remove('d-none');

            const fragment = document.createDocumentFragment();
            const endIndex = Math.min(currentIndex + itemsPerLoad, displayedApartments.length);

            for (let i = currentIndex; i < endIndex; i++) {
                const card = createApartmentCard(displayedApartments[i]);
                fragment.appendChild(card);
            }

            container.appendChild(fragment);
            currentIndex = endIndex;
            isLoading = false;
            loadingIndicator.classList.add('d-none');

            if (currentIndex >= displayedApartments.length) {
                window.removeEventListener('scroll', handleScroll);
            }
        }

        // 초기화 함수
        function init() {
            fetch('/mydata-api/account', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({ user_id: userId })
            })
                .then(response => response.json())
                .then(data => {
                    const totalBalance = data.currentTotal || 0;
                    document.getElementById('totalBalance').textContent = numberToKorean(totalBalance);
                    maxRecommendedPrice = calculateMaxRecommendedPrice(totalBalance, annualIncome, loanTermYears, incomePercentage);
                    displayedApartments = filterApartmentsByPrice(items, maxRecommendedPrice);

                    // 정렬 후 아파트 목록 렌더링
                    sortApartments('highPrice');  // 높은 가격순으로 정렬
                    updateDisplayedApartments(); // 정렬된 아파트 렌더링

                    createComparisonChart(totalBalance, annualIncome, loanTermYears, incomePercentage);
                    window.addEventListener('scroll', handleScroll);
                })
                .catch(error => {
                    console.error('Error fetching account data:', error);
                });
        }

        init(); // 초기화 실행

        // 정렬 버튼 이벤트 리스너
        document.getElementById('sortHighPrice').addEventListener('change', () => {
            sortApartments('highPrice');
            updateDisplayedApartments();
        });
        document.getElementById('sortLowPrice').addEventListener('change', () => {
            sortApartments('lowPrice');
            updateDisplayedApartments();
        });
        document.getElementById('sortRecent').addEventListener('change', () => {
            sortApartments('recentDeal');
            updateDisplayedApartments();
        });


    });
</script>

</body>
</html>